html {
    scroll-behavior: smooth;
}
body {
    font-family: Baskerville;
}

p {
    font-size: larger;
}

.pledge-list {
    font-size: large;
}
input[type=checkbox]:checked {
    background-color: #222529;
    border-color: #434649;
}

input[type=radio]:checked {
    background-color: #222529;
    border-color: #434649;
}
.active {
    text-decoration: underline whitesmoke;
}
.masthead {
    font-size: 8vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}