html {
    scroll-behavior: smooth;
}
body {
    font-family: Baskerville;
}

input[type=checkbox]:checked {
    background-color: #222529;
    border-color: #434649;
}

input[type=radio]:checked {
    background-color: #222529;
    border-color: #434649;
}
.active {
    text-decoration: underline whitesmoke;
}
.masthead {
    font-size: calc(0.5em + 6vw);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 768px) {
    .border-md-end {
        border-right: 1px solid #424242;
    }
}