{% extends "_base_page.html" %} 

{% block body %}
    <div class="container-fluid px-3 px-md-5 text-start py-2">
        <h6 class="display-6">
                <b>Background</b>
        </h6>
        <p>
            It has been said that Jane 
            Jacobs, who wrote in 1960, won over the planners by 1980. This is 
            largely true as it relates to strategies for inner city revival but, 
            on reflection, less accurate when it comes to how our cities and 
            rural areas have been allowed to grow. By 1980, urban renewal was 
            discredited and nobody smart was advocating for more inner-city 
            highways, but the juggernaut of sprawl was only gaining momentum. 
            Anyone who has traveled North America over the past half century can 
            bear witness to how our cities have been continually decanted 
            outward into the countryside, as even the most rural crossroads 
            manage to attract a tawdry detritus of Speedways and Dollar Stores. 
            Sadly, this auto-oriented growth — destructive as it is to local 
            economy, culture, and nature — was often guided by professional 
            planners, who administer the zoning codes and development standards 
            that give it shape. 
        </p>
        <p>
            To this day, the fight for less car-dependent communities still 
            lacks the full-throated support of the planning 
            profession. The American Planning Association, the organization that 
            has dictated the conduct of professional planners in the U.S. since 
            mid-century, has refrained from taking an official stance on sprawl. It oversees 
            planner certification and ethical standards 
            with great care, but it has steered clear of providing direction regarding the shape of our 
            communities. 
        </p>
        <p>
            Absent direction from above, is time for a grassroots effort among 
            America's professional planners to establish a higher standard of 
            conduct. By adhering to this standard, planners will once again lead 
            in the creation of walkable communities that are conducive to 
            improved health and happiness, economic vitality, social equity, and 
            climate resilience. The first step in this process is to build a 
            coalition of practitioners who are willing to commit to such a 
            standard and assist in its proliferation. It is hoped that this 
            coalition will include you. 
        </p>
        <p>
            The document that follows is substantially modified from a proposal 
            first launched in 2022, in the 10th Anniversary edition of 
            <i>Walkable City</i>. A dozen people contributed to its current 
            wording. A protocol may be established to amend it over time, but it 
            should be considered a final draft for now, presented for your 
            endorsement or rejection. 
        </p>
        <p>
            While following the mandates laid out in this document may alone be 
            insufficient to reverse more than seven decades of poor planning 
            practice, it can be an important first step. By signing and sharing 
            the document that follows — and living up to its aspirations — 
            each of us can play a role in redeeming a profession that is not 
            beyond saving, and in making North America and the world a better 
            place. 
        </p>
        <div class="text-center">
            <a class="btn btn-dark btn-lg text-wrap m-2" href="{{url_for('sign_form')}}" role="button">Sign the Pledge</a>
            <a class="btn btn-dark btn-lg text-wrap m-2" href="{{url_for('start_page')}}" role="button">Read the Pledge</a>
        </div>
    </div>
{% endblock %}
