{% extends "_base_page.html" %} 

{% block body %}
    <div class="container-fluid px-3 px-md-5 text-start py-2">
        
        {% if sign %}
        <h6 class="display-6 text-center py-2">
            Thank you for signing the pledge!
        </h6>
        <div class="hr"></div>
        {% endif %}
        <h6 class="display-6 text-center py-2">
            SIGNATORIES
        </h6>
        <div class="container text-center">
            <div class="row align-items-start">
                {% for id, name in id_names %}
                    <div class="col-12">
                        <p class="fs-3" id={{id}}>
                            {{ name }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}