{% extends "_base_page.html" %} 

{% block body %}
    <div class="container-fluid px-3 px-md-5 text-start py-2">
        <p class="fs-5 fst-italic">
            The Planner's Pledge is an effort to reform the planning profession 
            by introducing a well-defined quality standard that has, until now, 
            been conspicuously missing. 
            Planners signing the pledge make a commitment to pursue a collection 
            of practices that have been demonstrated to produce superior outcomes 
            for society and the planet. 
            By establishing such a standard and bending practice in its direction, 
            professional planners can once again merit a leadership role in the 
            creation and physical evolution of American communities.

            The Planner’s Pledge is a 501(c) (3) not for profit organization (EIN 33-1310760).
        </p>
        <h6 class="display-6 text-center">
            THE PLEDGE
        </h6>
        <!-- <div class="container-fluid text-center">
            <button type="button" class="btn btn-dark text-center" data-bs-toggle="collapse" data-bs-target="#plannersPledge" aria-expanded="false" aria-controls="plannersPledge">
                Read More
            </button>
        </div> -->
        <!-- <div class="collapse" id="plannersPledge"> -->
        <div id="plannersPledge">
            <!-- <h3 class="display-3">
                <b>The Planner's Pledge</b>
            </h3> -->
            <p>
                As practitioners of a discipline that has advocated for what it 
                believed to be best practices while inevitably advancing the dominant 
                ideology of its society, we professional planners wish to formally 
                apologize for the significant role that our profession has played in 
                creating the unsustainable suburban sprawl development pattern that 
                now constitutes most of the American built environment, reinforcing 
                race and class segregation while burdening the vast majority of citizens 
                with the mandate of car ownership. 
            </p>
            <p>
                To put it bluntly, planners have contributed to the creation of a 
                landscape that separates us ruthlessly both from different activities 
                and from different people, such that we are inordinately dependent on 
                our automobiles and less connected to one another. While citizens of 
                other countries enjoy daily life in walkable, mixed-use, diverse 
                neighborhoods, the typical American lives in a cluster of economically 
                identical single-family houses where it is impossible to walk to work, 
                school, shopping, recreation, or worship. 
            </p>
            <p>
                The outcomes of this pattern of growth could not be more profound. 
                We have worsened public health, lost economic resiliency, exacerbated 
                inequity, and undermined the social fabric of our communities as our 
                daily driving cooks the planet. 
            </p>
            <p>
                This changes today. Professional planners, who sit in city and town halls 
                across the nation and help create the rules that shape our growth, being 
                responsible for the current circumstances, must take responsibility for 
                changing them. Apologies are not enough. We must step forward with a new 
                model of professional conduct designed to undo nearly a century of misdirection. 
                That model is summarized in the pledge below.
            </p>
            <p>
                It will take many years to reverse the zoning laws and transportation standards 
                that created and reinforce our segregated, car-dependent landscape. Politics 
                will continue to favor business as usual. The homebuilding and roadbuilding 
                industries will keep pushing for more of the same and will keep funding 
                politicians who do their bidding. But planners, as a profession, can take a 
                stand. In some places we will be effective in changing the rules, and every 
                place makes a difference. 
            </p>
            <p>
                The collection of mandates that follows is far from comprehensive, but addresses 
                several dozen aspects of planning practice that are most often gotten wrong, 
                causing the greatest harm to our society and the planet. When a majority of 
                planners have the knowledge and the courage to get these things right, the 
                profession will achieve the positive outcomes it needs to regain the public 
                trust and enter a new era of civic leadership.
            </p>
            <p>
                This pledge is directed specifically at professional planners, but it 
                concerns all the professions that together shape the built environment, 
                including urban design, architecture, landscape architecture, civil 
                engineering, economic development, real estate, and governance. Moreover, with the 
                increasing democratization of the planning process, one need not be a planning 
                professional to influence planning. For that reason, anyone is welcome to sign 
                the Pledge to indicate their solidarity with its message. 
            </p>
        </div>
        <div class="text-center">
            <a class="btn btn-dark btn-lg text-wrap m-2" href="{{url_for('sign_form')}}" role="button">Sign the Pledge</a>
        </div>
        <div class="pledge-list">
            <h5>
                <b>Whereas:</b>
            </h5>
            <p>
                <ol>
                    <li>The vast majority of the American built environment is car-dependent, such that basic needs like schools, parks, and grocery stores are unreachable on foot.</li>
                    <li>Car-dependent planning is destructive to public health, the economy, the environment, and the social fabric.</li>
                    <li>Planning around the car is a self-fulfilling prophesy: traffic studies and parking minimums perpetuate and worsen the very car dependence that they hope to mitigate. </li>
                    <li>Use-based (Euclidean) zoning creates car dependence.</li>
                    <li>Much of the current built environment was created on a foundation of racial inequity and environmental injustice, with the clearly stated intention of segregating communities of color. </li>
                    <li>Single-family zoning perpetuates racial segregation and is a powerful impediment to correcting past wrongs.</li>
                    <li>Income diversity within neighborhoods is a social good that the market will not typically provide unless required to do so. </li>
                    <li>Affordable housing is not truly affordable if it requires its residents to own cars.</li>
                    <li>A dire nationwide housing shortage requires decisive changes to land-use and tax policies. </li>
                    <li>Walkable, bikeable, rollable communities provide residents with a superior quality of life and must be acknowledged as an unmitigated good.</li>
                    <li>Children benefit from being able to walk or bike independently to school, playgrounds, parks, libraries, and other community amenities.</li>
                    <li>Achieving walkability depends on the creation of a physical framework<span>&#8212;</span>principally streets and open spaces<span>&#8212;</span>in which walking is truly useful, safe, comfortable, and interesting.</li>
                    <li>Walkable, mixed-use development is not possible within a dendritic (branching) system of collector and local roads, and requires a porous network of small blocks. </li>
                    <li>The proliferation of high-speed road networks characterized by wide lanes, excess lanes, and "forgiving" geometries has led to an epidemic of pedestrian and cyclist deaths.</li>
                    <li>Expanded roadway capacity, often sold on the premise of reducing congestion, pollution, and/or user injury, almost always has the opposite result.</li>
                    <li>Coordination of frequent transit service with concentrations of housing and jobs is the foundation of good planning.</li>
                    <li>In most locations, street trees are an essential component of the public realm, key to enabling walkability and mitigating climate impacts. </li>
                    <li>Historic buildings connect us to our past and shape an elevated public realm that invites walking.</li>
                    <li>The demographics of the city planning profession do not fully reflect the demographics of the public it serves.</li>
                    <li>As Jane Jacobs stressed, “cities have the ability of providing something for everybody, only because, and only when, they are created by everybody.”</li>

                </ol>                  
            </p>
            <h5>
                <b>I pledge that I will encourage:</b>
            </h5>
            <p>
                <ol>
                    <li>A fully inclusive community planning process that strives to secure the participation of those who have historically been underrepresented. </li>
                    <li>Dense development adjacent to frequent transit routes and vice versa;</li>
                    <li>Eliminating single-family-only zoning in walkable or transit-served locations;</li>
                    <li>Creating Accessory Dwelling Units (ADUs) programs in walkable or transit-served locations;</li>
                    <li>Inclusionary zoning and similar policies that improve neighborhood diversity;</li>
                    <li>Anti-displacement strategies such as community land trusts, mortgage down-payment assistance, and property tax abatement in areas planned for improvement;</li>
                    <li>Property tax policies that accurately reflect the higher infrastructure cost of low-density development; </li>
                    <li>Property tax policies that discourage land-banking by taxing land rather than buildings; </li>
                    <li>Coordinated development of blocks to address parking, stormwater, and other neighborhood issues collectively rather than on a lot-by-lot basis;</li>
                    <li>Eliminating on-site parking requirements;</li>
                    <li>Decoupling parking fees from apartment rents; </li>
                    <li>Pricing on-street parking in line with its value;</li>
                    <li>Transportation Demand Management tools like employee transit benefits, bike subsidies, and cash payouts in lieu of parking;</li>
                    <li>Locating schools, daycare, playgrounds, libraries, and other municipal amenities to be easily reached on foot or bike<span>&#8212;</code>understanding that this approach mandates equitable investment across neighborhoods;</li>
                    <li>Designing street systems as porous networks of small blocks rather than dendritic (branching) systems of collector and local roads;</li>
                    <li>Designing streets in full recognition that, more than mere traffic conduits, they are the social spaces in which human relations unfold;</li>
                    <li>Adopting Vision Zero and other policies that focus on safe street design rather than driver error;</li>
                    <li>Engineering all new streets, and restriping existing streets, to a design speed no higher than the desired vehicle speed;</li>
                    <li>Designing all new streets to include low-stress micromobility routes, either in protected lanes or mixing with truly low-speed traffic;</li>
                    <li>Sizing firefighting equipment to fit community streets and not vice versa;</li>
                    <li>Reverting multilane one-way street networks back to two-way travel;</li>
                    <li>Congestion-pricing crowded roadways and investing the revenue in other travel modes;</li>
                    <li>Replacing urban highways with multimodal surface boulevards;</li>
                    <li>Pedestrianizing shopping streets after successful trial periods;</li>
                    <li>Creating a continuous tree canopy (where climatically appropriate) above streets and parking lots; and</li>
                    <li>The adaptive reuse of older buildings.</li>
                </ol>
            </p>
            <h5>
                <b>I pledge that I will discourage:</b>
            </h5>
            <p>
                <ol>
                    <li>Policies that further the growth of car-dependent places except in ways that reduce their car dependency;</li>
                    <li>Policies that serve, by intention or accident, to reinforce racial or economic segregation;</li>
                    <li>Policies that encourage the construction of low-density or exclusive housing in transit-served locations;</li>
                    <li>The creation of any new throughfare that does not safely welcome pedestrians (including wheelchair users) and cyclists;</li>
                    <li>The building of any new highways, highway lanes, or other road capacity in the name of reducing traffic congestion, pollution, or user injury;</li>
                    <li>The use of traffic studies to either mandate new driving lanes or limit new development;</li>
                    <li>The use of environmental impact studies (or similar) to stall or derail pedestrian, cycling, or transit facilities; </li>
                    <li>The deployment of any driving technology (such as partial autonomy) that limits the safety and freedom of pedestrians and cyclists;</li>
                    <li>The location, along otherwise walkable streets, of exposed surface parking lots or of parking structures that do not place inhabited facades against their enfronting sidewalks; and</li>
                    <li>The unnecesary destruction of any significant sidewalk-facing building facade more than 100 years old. </li>
                </ol>
            </p>
            <p class="fs-5">
                In signing this pledge, I commit myself to pursuing a fundamentally changed planning profession, one that plays no role in advancing car dependence or social segregation.
            </p>
            <div class="text-center">
                <a class="btn btn-dark btn-lg text-wrap m-2" href="{{url_for('sign_form')}}" role="button">Sign the Pledge</a>
            </div>
        </div>
    </div>
{% endblock %}
